.footer {
  background-color: $red;

  &__container {
    color: $white;
    font-size: 0.9rem;
    text-transform: uppercase;
    padding: 1.15rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin: 0 auto;
  }

  &__link {
    color: $white;
    text-decoration: none;

    &:hover {
      color: $black;
      transition: all ease 0.5s;
    }
  }
}

@media (max-width: 768px) {
  .footer__container {
    font-size: 0.8rem;
    width: 80%;
  }
}

@media (max-width: 420px) {
  .footer__container {
    font-size: 0.8rem;
    width: 100%;
  }
}
