html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.header {
  background-color: #1BEDF7;
  font-family: "Poppins", sans-serif;
  padding: 1.2rem 0;
  text-align: center;
}
.header__navbar {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.header__link {
  color: #0c0c0c;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
}
.header__link:hover {
  color: #ee1515;
  transition: all ease 0.5s;
}

.logo {
  width: 6.25rem;
}

@media (max-width: 450px) {
  .header__link {
    width: 100%;
  }
}
.main {
  color: #0c0c0c;
  font-family: "Poppins", sans-serif;
  margin-top: 2.5rem;
  text-align: center;
}
.main__title {
  font-size: 2rem;
  text-transform: uppercase;
}
.main__text {
  font-size: 1.2rem;
  letter-spacing: 0.05rem;
  line-height: 1.8rem;
  margin: 1.5rem 0;
  scroll-behavior: smooth;
}
.main__text__link {
  color: #0c0c0c;
  text-decoration: none;
}
.main__text__gif {
  width: 2.0625rem;
}
.main__text__charizard {
  width: 1.8rem;
}
.main__search {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-family: "Poppins", sans-serif;
  font-size: 1.4rem;
  justify-content: center;
  margin: 1.5rem 0;
}
.main__input {
  border: none;
  border-radius: 10px;
  border-style: solid;
  border-width: 0.1rem;
  margin-left: 0.5rem;
  padding: 0.5rem;
}
.main__contain {
  padding: 1.2rem;
  text-align: center;
  width: 100%;
}
.main__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: center;
}
.main__button {
  background-color: #ee1515;
  border: none;
  border-radius: 0.9rem;
  border-style: solid;
  border-color: #f0f0f0;
  border-width: 1px;
  box-shadow: 2px 2px 15px 2px #5b5b5b;
  color: #f0f0f0;
  cursor: pointer;
  padding: 0.5rem;
  transition: all ease 0.4s;
}
.main__button:hover {
  background-color: #f0f0f0;
  border-color: #ee1515;
  color: #ee1515;
}
.main__button:focus {
  outline: none;
}
.main__button:active {
  transform: translateY(2px);
}
.main__cards {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 3rem 0;
}
.main__card {
  border-color: #000;
  border-radius: 15px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 6px 10px 2px rgba(0, 0, 0, 0.4);
  font-family: "Poppins", sans-serif;
  margin: 1rem 0;
  padding: 0.7rem;
  text-align: center;
}
.main__card__title {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1.2rem 0;
  text-align: center;
  text-transform: capitalize;
}
.main__card__text {
  margin: 0.7rem 0;
  text-align: left;
  text-transform: uppercase;
}
.main__loading {
  width: 80%;
  margin: 0 auto;
}

@media (min-width: 300px) {
  .main {
    padding: 0 0.5rem;
  }

  .main__cards {
    padding: 1rem 1rem;
  }

  .main__card {
    width: 100%;
  }
  .main__card__img {
    width: 300px;
  }

  .main__loading {
    width: 100%;
  }
}
@media (min-width: 750px) {
  .main {
    padding: 0 6rem;
  }

  .main__card {
    width: 40%;
  }
  .main__card__img {
    width: 300px;
  }
}
@media (min-width: 1050px) {
  .main__cards {
    padding: 0rem 6rem;
  }

  .main__card {
    width: 25%;
  }
  .main__card__img {
    width: 200px;
  }
}
.footer {
  background-color: #ee1515;
}
.footer__container {
  color: #f0f0f0;
  font-size: 0.9rem;
  text-transform: uppercase;
  padding: 1.15rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  margin: 0 auto;
}
.footer__link {
  color: #f0f0f0;
  text-decoration: none;
}
.footer__link:hover {
  color: #0c0c0c;
  transition: all ease 0.5s;
}

@media (max-width: 768px) {
  .footer__container {
    font-size: 0.8rem;
    width: 80%;
  }
}
@media (max-width: 420px) {
  .footer__container {
    font-size: 0.8rem;
    width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
